<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="toggleSideNavEvent.emit()">menu</mat-icon>
    </button>
    <h1>CDoubleS</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button (click)="goTo.emit('/accounts')"> Accounts </a>
      <a mat-button (click)="goTo.emit('/create-account')"> Create Account </a>
      <a mat-button (click)="goTo.emit('/contacts')"> Contacts </a>
      <a mat-button (click)="goTo.emit('/create-contact')"> Create Contact </a>
      <a mat-button (click)="goTo.emit('/activities')"> Activities </a>
      <a mat-button (click)="goTo.emit('/create-activity')"> Create Activity </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
