<mat-toolbar class="footer-toolbar">
  <mat-toolbar-row class="row">
    <div class="column">
      <h3>Structure</h3>
      <p class="small">Rectorat</p>
      <p class="small">Vchena rada</p>
      <p class="small">Departmets</p>
    </div>
    <div class="column">
      <h3>Power of learning</h3>
      <p class="small">Lorem</p>
      <p class="small">Ipsum</p>
      <p class="small">Dolorem</p>
    </div>
    <div class="column">
      <h3>For users</h3>
      <p class="small">School boi</p>
      <p class="small">Enrollee</p>
      <p class="small">Studnet</p>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
