<div class="card">
  <div class="my-div">
    <img class="my-img" src="assets/2048px-Angular_full_color_logo.svg.png" alt="angular">
    <img class="my-img" src="assets/badge.svg" alt="NGRX">
    <img class="my-img" src="assets/c.svg" alt="C#">
  </div>
  <div class="my-div">
    <img class="my-img" src="assets/download.png" alt="Material">
    <img class="my-img" src="assets/download%20(1).png" alt="GoLang">
    <img class="my-img" src="assets/Rust_programming_language_black_logo.svg.png" alt="Rust">
  </div>
</div>
