<mat-grid-list
  class="my-list"
  [cols]="isHandset ? 1 : isTablet ? 2 : 4" [rowHeight]="350">
  <mat-grid-tile class="my-tile">
    <mat-card class="my-card">
      <mat-card-title>
        Title 1
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam eos ex laboriosam nostrum, numquam
        quam quis ratione. Ea fugiat nostrum quam, temporibus vitae voluptatem? Amet doloremque in ipsum quas?
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="my-tile">
    <mat-card class="my-card">
      <mat-card-title>
        Title 2
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam eos ex laboriosam nostrum, numquam
        quam quis ratione. Ea fugiat nostrum quam, temporibus vitae voluptatem? Amet doloremque in ipsum quas?
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="my-tile">
    <mat-card class="my-card">
      <mat-card-title>
        Title 3
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam eos ex laboriosam nostrum, numquam
        quam quis ratione. Ea fugiat nostrum quam, temporibus vitae voluptatem? Amet doloremque in ipsum quas?
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="my-tile">
    <mat-card class="my-card">
      <mat-card-title>
        Title 4
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam eos ex laboriosam nostrum, numquam
        quam quis ratione. Ea fugiat nostrum quam, temporibus vitae voluptatem? Amet doloremque in ipsum quas?
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="my-tile">
    <mat-card class="my-card">
      <mat-card-title>
        Title 5
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam eos ex laboriosam nostrum, numquam
        quam quis ratione. Ea fugiat nostrum quam, temporibus vitae voluptatem? Amet doloremque in ipsum quas?
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="my-tile">
    <mat-card class="my-card">
      <mat-card-title>
        Title 6
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam eos ex laboriosam nostrum, numquam
        quam quis ratione. Ea fugiat nostrum quam, temporibus vitae voluptatem? Amet doloremque in ipsum quas?
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="my-tile">
    <mat-card class="my-card">
      <mat-card-title>
        Title 7
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam eos ex laboriosam nostrum, numquam
        quam quis ratione. Ea fugiat nostrum quam, temporibus vitae voluptatem? Amet doloremque in ipsum quas?
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="my-tile">
    <mat-card class="my-card">
      <mat-card-title>
        Title 8
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam eos ex laboriosam nostrum, numquam
        quam quis ratione. Ea fugiat nostrum quam, temporibus vitae voluptatem? Amet doloremque in ipsum quas?
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
