<mat-grid-list [cols]="1" [rowHeight]="400">
  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-title>
        Hi
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eligendi exercitationem expedita itaque
        laudantium molestiae nulla quidem sint vitae. Eaque enim error incidunt iure labore, molestiae quibusdam
        repellendus sit vel?
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
